@media screen and (min-width:768px) {
body{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat:no-repeat;
}

#warapper{
	text-align: center;
}
#loginbody{
	background-color:#0099FF;
}
.textbox{
	background-color: #EEE8AA;
}
#login_button{
	margin-top: 1.5vw;
}
#userid{
	float: left;
}
#logoutlink{
	float: right;
}
#error{
	color:red;
}

}