body {
    background-color: pink;
    padding-bottom: 20px;
}

main{
    min-height: 75vh;
}

.container {
    padding: 0 0;
    background-color: #fff;
    min-height: 85vh;
}

.logout {
    text-align: right;
}

.greeting{
    float: left;
}

.greeting, .logout{
    margin-bottom: 5px;
}

.navbar{
    padding: 0;
}

nav ul li{
    width: 150px;
    text-align: center;
    margin-right: 2px;
    background-color: black;
}

.first-header nav ul li:hover{
    background-color: gray;
}

/* ここまでが課題1 */

.second-header nav ul li{
    background-color: #AAA;
}

table{
    max-width: 1000px;
    margin: 0 auto;
}

th{
    font-size: 15px;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
}

.btn{
    background-color: #BBB;
    border: none;
    color: black;
    border-radius: 5px;
    box-shadow: 1.5px 1.5px black;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.error {
    color: red;
    margin: 0 auto;
}

#upload{
    margin-top: 70px;
}

.done{
    text-align: center;
    margin-top: 100px;
}

.submit-button{
    margin-left: 30px;
}