.btn{
    background-color: #BBB;
    border: none;
    color: black;
    border-radius: 5px;
    box-shadow: 1.5px 1.5px black;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}