main{
    min-height: 470px;
}

.logout{
    margin-left: 20px;
}

.navbar{
    border-bottom: 1px dotted black;
}

.navbar-brand{
    font-size: 25px;
    margin-right: 30px;
}

.navbar-nav{
    margin: 0 0 0 auto;
}

.greeting{
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px dotted gray;
}

.nav-item p{
    height: 100%;
    margin-bottom: 0;
    text-align: center;
    color: black;
    text-decoration: none;
}

.fas{
    color:black;
}

.icon{
    margin-right: 40px;
}

.contents-title{
    margin: 30px 10px;
    padding-left: 30px;
    padding-bottom: 10px;
    border-bottom: 4px solid gray;
    font-size: 30px;
    font-weight: bold;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}

.box1{
    grid-column: 1;
}

.box2{
    grid-column: 2;
    border-left: 2px solid gray;
}

table{
    margin: 0 auto;
}

.submit-button{
    margin-top: 30px;
    margin-left: 40px;
}

.card{
    width: 90%;
    margin: 40px auto;
}

.sub-title{
    text-align: center;
    margin-top: 40px;
}

.table{
    width: 80%;
    margin-top: 20px;
}

.table-center th, .table-center td{
    text-align: center;
}

.table-left th{
    text-align: center;
    width: 200px;
}

.table tr{
    border-bottom: 1px solid gray;
    border-top: none;
}

.table-right td{
    text-align: right;
}

.cart{
    width: 90%;
}

.purchase{
    text-align: center;
}

footer{
    background: black;
    margin-top: 30px;
    height: 100px;
}

.footer{
    text-align: center;
    color: white;
    margin-bottom: 0;
    padding-top: 20px;
}

.purchase-button{
    text-align: center;
    margin-top: 20px;
}

.done-message{
    margin-top: 100px;
}

.radio{
    margin-left: 10px;
}

.send-for{
    display: none;
}