body {
    background-image: url("../img/contentback.jpg");
    text-align: center;
    margin-top: 200px;
}

table {
    margin: 0 auto;
}

.card {
    width: 50%;
    margin: 0 auto;
    background-color: #ffe;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-top: 20px;
}

.error {
    color: red;
}
