.first-header nav ul li:nth-child(2){
    border-bottom: 2px solid #FF6633;
}

.second-header nav ul li:nth-child(1){
    border-bottom: 2px solid skyblue;
    background-color: #444;
}

table{
    border: 2px solid black;
}

th, td{
    text-align: center;
    font-size: 15px;
}

.search{
    margin-top: 10px;
    margin-bottom: 5px;
    float: right;
}

.sort{
    border: none;
    background-color: white;
    padding: 0;
    cursor: pointer;
}